<!-- prettier-ignore -->
<% 
const fieldSize = 100
const startLinks = [ 
	{ icon: '_icon-bot', href: '#size', label: 'playing with a bot', id: 'bot' }, 
	{ icon: '_icon-friend', href: '#size', label: 'play with a friend', id: 'friend' }, 
	{ icon: '_icon-stats', href: '#stats', label: 'stats', id: 'toStats' }
]
const statsLinks = [ 
	{ icon: '_icon-leftArrow', href: '#start', label: 'back', isRed: true }
]
const statsItems = [
	{ icon: '_icon-like', label: 'wins', id: 'totalWins' }, 
	{ icon: '_icon-dislike', label: 'losses', id: 'totalLosses' }
]
const sizeLinks = [
	{ icon: '_icon-leftArrow', href: '#start', label: 'back', isRed: true },
	{ icon: '_icon-rightArrow', href: '#position', label: 'continue' }
]
const sizeShips = [
	{ icon: '_icon-shipFour', id: 'shipFour' }, 
	{ icon: '_icon-shipThree', id: 'shipThree' }, 
	{ icon: '_icon-shipTwo', id: 'shipTwo' }, 
	{ icon: '_icon-shipOne', id: 'shipOne' }
]
const positionLinks = [
	{ icon: '_icon-leftArrow', href: '#size', label: 'back', isRed: true },
	{ icon: '_icon-rightArrow',  href: '#battle', label: 'continue' }
]
const positionShips = [
	{ icon: '_icon-shipFour' }, 
	{ icon: '_icon-shipThree' },
	{ icon: '_icon-shipThree' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' }
]
const battleLinks = [
	{ icon: '_icon-logOff', href: '#start', label: 'log off', isRed: true },
	{ icon: '_icon-change', label: 'change' }
]
%>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head', { title: 'sea-battle' }) %>
	</head>
	<body>
		<div class="wrapper">
			<section class="start _screen" id="start" data-section="screen">
				<div class="start__body _body">
					<!-- prettier-ignore -->
					<nav class="start__nav nav" data-nav="transitions">
						<% if(progress) { %> 
							<% startLinks.unshift({ label: 'continue the game', href: '#battle', icon: '_icon-save', id: 'continue' }) %>
						<% } %> 
						
						<%- include('./partials/nav', { links: startLinks }) %>
					</nav>
					<!-- prettier-ignore -->
				</div>
			</section>
			<section class="stats _screen" id="stats" data-section="screen">
				<div class="stats__body _body">
					<!-- prettier-ignore -->
					<nav class="stats__nav nav" data-nav="transitions">
						<%- include('./partials/nav', { links: statsLinks }) %>
					</nav>
					<!-- prettier-ignore -->
					<!-- prettier-ignore -->
					<ul class="stats__list">
						<% statsItems.forEach(item => { %>
							<%-
								`
								<li class="stats__item ${item.icon}">
									<spna class="stats__label">${item.label}:</spna>
									<input class="stats__value" id="${item.id}" data-input="statsValue" type="tel" value="0" readonly />
								</li>
								`
							%>
						<% }) %>
					</ul>
					<!-- prettier-ignore -->
				</div>
			</section>
			<section class="size _screen" id="size" data-section="screen">
				<div class="size__body _body">
					<!-- prettier-ignore -->
					<nav class="size__nav nav" data-nav="transitions">
						<%- include('./partials/nav', { links: sizeLinks }) %>
					</nav>
					<!-- prettier-ignore -->
					<div class="size__card card">
						<input class="card__range" id="fieldSizeRange" type="range" value="10" min="10" max="30" />
							<!-- prettier-ignore -->
							<div class="card__ships ships">
								<%- include('./partials/ships', { ships: sizeShips }) %>
							</div>
							<!-- prettier-ignore -->
						<div class="card__cover">
							<canvas class="card__field field" id="canvasSize" data-canvas="field">field</canvas>
							<span class="card__label _title" id="fieldLabel">10X10</span>
						</div>
					</div>
				</div>
			</section>
			<section class="position _screen" id="position" data-section="screen">
				<div class="position__body _body">
					<!-- prettier-ignore -->
					<nav class="position__nav nav" data-nav="transitions">
						<%- include('./partials/nav', { links: positionLinks }) %>
					</nav>
					<!-- prettier-ignore -->
					<div class="position__card card">
						<h2 class="card__title _title">player-1</h2>
						<div class="card__cover">
							<canvas class="card__field field" data-canvas="field">field</canvas>
						</div>
						<!-- prettier-ignore -->
						<div class="card__ships ships _line">
							<%- include('./partials/ships', { ships: positionShips }) %>
						</div>
						<!-- prettier-ignore -->
					</div>
				</div>
			</section>
			<section class="battle _screen" id="battle" data-section="screen">
				<div class="battle__body _body">
					<!-- prettier-ignore -->
					<nav class="battle__nav nav" data-nav="transitions">
						<%- include('./partials/nav', { links: battleLinks }) %>
					</nav>
					<!-- prettier-ignore -->
					<div class="battle__card card">
						<h2 class="card__title _title">player-1</h2>
						<div class="card__cover">
							<canvas class="card__field field" data-canvas="field">field</canvas>
							<canvas class="card__field field" data-canvas="field">field</canvas>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
