<!-- prettier-ignore -->
<% 
const startLinks = [ 
	{ icon: '_icon-bot', label: 'playing with a bot' }, 
	{ icon: '_icon-friend', label: 'play with a friend' }, 
	{ icon: '_icon-statistics', label: 'statistics'  }
]
const statisticsLinks = [ 
	{ icon: '_icon-leftArrow', label: 'back', isRed: true }
]
const statisticsItems = [
	{ icon: '_icon-like', label: 'wins', value: 1 }, 
	{ icon: '_icon-dislike', label: 'losses', value: 1 }
]
const sizeLinks = [
	{ icon: '_icon-leftArrow', label: 'back', isRed: true },
	{ icon: '_icon-rightArrow', label: 'continue' }
]
const shipsSize = [
	{ icon: '_icon-shipFour', value: 1 }, 
	{ icon: '_icon-shipThree', value: 2 }, 
	{ icon: '_icon-shipTwo', value: 3 }, 
	{ icon: '_icon-shipOne', value: 4 }
]
const shipsPosition = [
	{ icon: '_icon-shipFour' }, 
	{ icon: '_icon-shipThree' },
	{ icon: '_icon-shipThree' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipTwo' }, 
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' },
	{ icon: '_icon-shipOne' }
]
%>
<!-- prettier-ignore -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head', { title: 'sea-battle' }) %>
	</head>
	<body>
		<div class="wrapper">
			<section class="start _screen">
				<div class="start__body _body">
					<nav class="start__nav nav">
						<% if(progress) { %> 
							<% startLinks.unshift({ label: 'continue the game', icon: '_icon-save' }) %>
						<% } %> 
						
						<%- include('./partials/nav', { links: startLinks }) %>
					</nav>
				</div>
			</section>
			<section class="statistics _screen">
				<div class="statistics__body _body">
					<nav class="statistics__nav nav">
						<%- include('./partials/nav', { links: statisticsLinks }) %>
					</nav>
					<ul class="statistics__list">
						<% statisticsItems.forEach(item => { %>
							<%-
								`
								<li class="statistics__item ${item.icon}">
									<spna class="statistics__label">${item.label}:</spna>
									<span class="statistics__value">${item.value}</span>
								</li>
								`
							%>
						<% }) %>
					</ul>
				</div>
			</section>
			<section class="size _screen">
				<div class="size__body _body">
					<nav class="size__nav nav">
						<%- include('./partials/nav', { links: sizeLinks }) %>
					</nav>
					<div class="size__card">
						<input class="size__range" type="range" value="10" min="10" max="30" />
						<div class="size__cover">
							<span class="size__label">10X10</span>
							<div class="size__field field">
								<%- include('./partials/field', { size: 100 }) %>
							</div>
						</div>
						<div class="size__ships ships">
							<%- include('./partials/ships', { ships: shipsSize }) %>
						</div>
					</div>
				</div>
			</section>
			<section class="position _screen">
				<div class="position__body _body">
					<nav class="position__nav nav">
						<%- include('./partials/nav', { links: sizeLinks }) %>
					</nav>
					<div class="position__card">
						<h2 class="position__title _title">
							player-1
						</h2>
						<div class="position__cover">
							<div class="position__field field">
								<%- include('./partials/field', { size: 100 }) %>
							</div>
						</div>
						<div class="position__ships ships _line">
							<%- include('./partials/ships', { ships: shipsPosition }) %>
						</div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>

