<% 

// navs
const startlinkList = [
  { id: 'continueLink', label: 'continue the game', icon: '_icon-save', href: '#battle', isDisable: true },
  { id: 'botLink', label: 'playing with a bot', icon: '_icon-bot', href: '#size' },
	{ id: 'friendLink', label: 'play with a friend', icon: '_icon-friend', href: '#size' },
	{ id: 'statsLink', label: 'stats', icon: '_icon-stats', href: '#stats' }
]
const statslinkList = [
	{ label: 'back', icon: '_icon-leftArrow', href: '#start', isRed: true }
]
const sizelinkList = [
  { label: 'back', icon: '_icon-leftArrow', href: '#start', isRed: true },
	{ id: 'positionLink', label: 'continue', icon: '_icon-rightArrow', href: '#position', isDisable: true }
]
const positionlinkList = [
	{ label: 'back', icon: '_icon-leftArrow', href: '#size', isRed: true },
	{ id: 'battleLink', label: 'continue', icon: '_icon-rightArrow',  href: '#battle', isDisable: true }
]
const battlelinkList = [
	{ id: 'logOffLink', label: 'log off', icon: '_icon-logOff', href: '#start', isRed: true },
	{ id: 'changeLink', label: 'change', icon: '_icon-change', href: '#battle', isDisable: true }
]

// constants
const FIELD_SIZE = 10
const MIN_FIELD_SIZE = 10
const MAX_FIELD_SIZE = 30

// other
const statsProgressList = [
  { id: 'totalWins', label: 'wins', icon: '_icon-like' }, 
	{ id: 'totalLosses', label: 'losses', icon: '_icon-dislike' }
]
const sizeShipList = [
  { id: 'shipFour', icon: '_icon-shipFour' }, 
	{ id: 'shipThree', icon: '_icon-shipThree' }, 
	{ id: 'shipTwo', icon: '_icon-shipTwo' }, 
	{ id: 'shipOne', icon: '_icon-shipOne' }
]

%> 


<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', { title: 'sea-battle' }) %> 
</head>
<body>
  <div class="wrapper">
    <section class="start _screen" id="start">
      <div class="start__body _body">
        <%- include('./partials/nav', { className: 'start__nav', linkList: startlinkList }) %> 
      </div>
    </section>
    <section class="stats _screen" id="stats">
      <div class="stats__body _body">
        <%- include('./partials/nav', { className: 'stats__nav', linkList: statslinkList }) %> 
        <div class="stats__progress">
          <ul class="stats__list">
            <% statsProgressList.forEach(progressItem => { %>
              <%- 
                `
                <li class="stats__item ${progressItem.icon}">
                  <spna class="stats__label">${progressItem.label}:</spna>
                  <input class="stats__value _value" id="${progressItem.id}" data-input="stats" type="tel" readonly />
                </li>
                `
              %> 
            <% }) %> 
          </ul>
        </div>
      </div>
    </section>
    <section class="size _screen" id="size">
      <div class="size__body _body">
        <%- include('./partials/nav', { className: 'size__nav', linkList: sizelinkList }) %>
        <div class="size__card card">
          <input class="card__range_field" id="fieldRange" type="range" value="<%- FIELD_SIZE %> " min="<%- MIN_FIELD_SIZE %>" max="<%- MAX_FIELD_SIZE %>" />
          <div class="card__ship ship">
            <ul class="ship__list">
              <% sizeShipList.forEach(ship => { %>
                <%- 
                  `
                  <li class="ship__item">
                    <span class="ship__icon _icon ${ship.icon}"></span>
                    <form class="ship__form" data-form="ship" id="${ship.id}">
                      <input class="ship__value _value" name="value" type="tel" readonly />
                      <button class="ship__btn _square-btn" name="plus">+</button>
                      <button class="ship__btn _square-btn _red" name="minus">-</button>
                    </form>
                  </li>
                  `
                %>
              <% }) %>
            </ul>
          </div>
          <div class="card__field field">
            <div class="field__picture">
              <canvas class="field__canvas" id="fieldOnSizeSection" data-canvas="field">field</canvas>
              <span class="field__label _title" id="fieldSizeLabel"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="position _screen" id="position">
      <div class="position__body _body">
        <%- include('./partials/nav', { className: 'position__nav', linkList: positionlinkList }) %> 
        <div class="position__card card">
          <header class="card__header">
            <h2 class="card__title _title">
              player-1
            </h2>
            <button class="card__btn _square-btn">
              <span class="card__icon _icon _icon-change"></span>
            </button>
          </header>
          <div class="card__field field">
            <div class="field__picture">
              <canvas class="field__canvas" data-canvas="field">field</canvas>
            </div>
          </div>
          <div class="card__ship ship _line">
            <ul class="ship__list" id="positionShipList">
              <!-- added dynamically -->
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="battle _screen" id="battle">
      <div class="battle__body _body">
        <%- include('./partials/nav', { className: 'battle__nav', linkList: battlelinkList }) %> 
        <div class="battle__card card">
          <h2 class="card__title _title">
            player-1
          </h2>
          <div class="card__field field">
            <div class="field__picture">
              <canvas class="field__canvas" id="enemyField" data-canvas="field">field</canvas>
            </div>
            <div class="field__picture">
              <canvas class="field__canvas" id="friendlyField" data-canvas="field">field</canvas>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
